In [41]:
import pandas as pd
from pandasql import sqldf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from scipy import stats

Importamos la base de datos y lo ponemos en un data frame; esta base de datos ya tiene una reducción y renombramiento de columnas y también un formateo de datos hecho utilizando un dataflow en Tableau Prep Builder. Adicionalmente, filtra publicaciones con 100+ autores ya que no son considerados de alto impacto para calcular el desempeño invidiual de autores

In [42]:
df_pubs = pd.read_csv('FilteredPublicationData.csv')
df_pubs.describe()

,num_authors,year,SNIP,citeScore,SJR,FWVI,views,citations,FWCI,FCA,top_outputs_percentile,top_fwci_outputs_percentile,first_author_id,last_author_id,single_author_id
count,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,82499.000000,8.249900e+04,8.249900e+04,8.249900e+04
mean,6.122741,2019.131068,1.084338,4.683166,1.076374,1.329535,27.441763,8.981466,1.019791,7.170889,40.230451,43.861756,4.320036e+10,3.003498e+10,3.053206e+09
std,6.865264,1.413081,1.014648,5.852873,1.611230,1.349761,32.680607,26.076932,2.611881,5.426596,22.354984,22.144076,2.095793e+10,2.324394e+10,1.229682e+10
min,0.000000,2017.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000,2018.000000,0.590000,1.200000,0.269000,0.640000,11.000000,1.000000,0.080000,2.960000,21.000000,25.000000,2.663396e+10,7.004357e+09,0.000000e+00
50%,5.000000,2019.000000,1.000000,3.600000,0.700000,1.030000,19.000000,3.000000,0.470000,6.630000,39.000000,47.000000,5.631006e+10,2.450433e+10,0.000000e+00
75%,7.000000,2020.000000,1.350000,6.300000,1.315000,1.620000,34.000000,9.000000,1.130000,10.300000,57.000000,62.000000,5.720138e+10,5.601387e+10,0.000000e+00
max,99.000000,2021.000000,33.800000,123.700000,37.461000,107.300000,2516.000000,1810.000000,246.430000,66.750000,78.000000,75.000000,5.783956e+10,5.784094e+10,5.783360e+10

Luego de importar la base de datos, vemos una columna de interes que en si es un tipo string con multiples numeros de autores; para fines de procesamiento, vamos a convertir este string en una lista, luego vamos a crear un nuevo elemento por cada auto en la lista de autores.
NOTA: Este proceso se aplica ya despues de eliminar publicaciones con mas de 100 autores para reducir la cantidad de datos

In [43]:
df_pubs['author_ids'] = df_pubs.author_ids.apply(lambda x: x[1:-1].split('|'))
df_pubs

,num_authors,author_ids,year,date,ISSN,SNIP,citeScore,SJR,FWVI,views,citations,FWCI,FCA,top_outputs_percentile,top_fwci_outputs_percentile,first_author_id,last_author_id,corresponding_author_id,single_author_id
0,3,"[5391699600, 57195591068, 5719553060]",2017,8/15/2017,ISSN-03062619,2.80,12.9,3.162,1.42,68,386,16.56,11.23,1,1,55391699600,57195530606,5.53917e+10,0
1,3,"[7192253056, 6701780106, 3532001560]",2017,3/1/2017,ISSN-14203049,1.20,4.5,0.855,2.39,124,281,5.93,24.09,1,2,57192253056,35320015600,3.532e+10,0
2,8,"[5241843100, 57194428895, 57194423859, 3660...",2017,9/1/2017,ISSN-01429612,1.92,18.0,3.111,6.87,221,279,12.71,12.03,1,1,35241843100,7402247603,3.52418e+10,0
3,6,"[602296514, 25930849300, 56017651500, 55989...",2017,1/1/2017,ISSN-1687725X,0.71,2.0,0.288,2.10,101,271,7.14,23.11,1,2,6602296514,57194021733,2.59308e+10,0
4,7,"[7316728100, 14051678800, 55557890800, 5574...",2017,1/15/2017,ISSN-00489697,1.69,7.5,1.546,2.27,316,243,3.91,42.99,1,5,57316728100,56564116300,5.65641e+10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82494,1,[.54911e+1],2021,1/1/2021,ISSN-18704654,0.00,0.1,0.100,1.02,10,0,0.00,0.55,55,55,0,0,5.54911e+10,55491095900
82495,10,"[5270259900, 57222313664, 23480059500, 5601...",2021,1/1/2021,ISSN-16878450,1.07,4.0,0.916,0.80,7,0,0.00,3.41,55,55,55270259900,56013867200,5.60139e+10,0
82496,2,"[2980625000, 5599377120]",2021,8/2/2021,ISSN-22277390,1.16,2.9,0.538,0.81,6,0,0.00,1.25,55,55,22980625000,55993771200,2.29806e+10,0
82497,5,"[7285448400, 56075791700, 7005113225, 70051...",2021,9/1/2021,ISSN-2576098X,0.30,1.6,0.303,0.65,6,0,0.00,2.39,55,55,57285448400,55440543100,5.72854e+10,0
82498,7,"[7218285627, 24072805500, 57218282796, 5719...",2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0

Aqui ya podemos ver la conversion del string largo a una lista de strings

In [44]:
df_pubs = df_pubs.explode(column='author_ids')
df_pubs

,num_authors,author_ids,year,date,ISSN,SNIP,citeScore,SJR,FWVI,views,citations,FWCI,FCA,top_outputs_percentile,top_fwci_outputs_percentile,first_author_id,last_author_id,corresponding_author_id,single_author_id
0,3,5391699600,2017,8/15/2017,ISSN-03062619,2.80,12.9,3.162,1.42,68,386,16.56,11.23,1,1,55391699600,57195530606,5.53917e+10,0
0,3,57195591068,2017,8/15/2017,ISSN-03062619,2.80,12.9,3.162,1.42,68,386,16.56,11.23,1,1,55391699600,57195530606,5.53917e+10,0
0,3,5719553060,2017,8/15/2017,ISSN-03062619,2.80,12.9,3.162,1.42,68,386,16.56,11.23,1,1,55391699600,57195530606,5.53917e+10,0
1,3,7192253056,2017,3/1/2017,ISSN-14203049,1.20,4.5,0.855,2.39,124,281,5.93,24.09,1,2,57192253056,35320015600,3.532e+10,0
1,3,6701780106,2017,3/1/2017,ISSN-14203049,1.20,4.5,0.855,2.39,124,281,5.93,24.09,1,2,57192253056,35320015600,3.532e+10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82498,7,57218282796,2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0
82498,7,57194701113,2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0
82498,7,56376653100,2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0
82498,7,6602694816,2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0
82498,7,5598980840,2021,12/1/2021,ISSN-20537166,0.91,2.7,0.580,1.08,12,0,0.00,1.72,55,55,57218285627,55989808400,5.59898e+10,0

Aumento de gran forma la linea de datos en nuestro set, cambiando de 82,000 a 505,000; sin embargo estas lineas extras contienen informacion repetida, con la columna 'author_ids' cambiando

In [45]:
df_pubs = df_pubs.rename(columns={"author_ids": "author_id"})

Hacemos un renombramiento de la columna 'author_ids' a el nombre mas descriptivo 'author_id'

Leemos nuestro segundo set de datos a usar, cuyos nombres de variables igualmente pasan por un renombramiento para facilidad de accesibilidad y procesamiento. Este set de datos de autores incluye todos los investigadores del Tec de Monterrey e instituciones con los cuales se tiene convenio

In [46]:
df_authors = pd.read_csv("FilteredAuthorData.csv")
df_authors.describe()

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub
count,8.480000e+04,84801.000000,84801.000000,84801.000000,84801.000000,84794.000000,84801.000000,84801.000000,84801.000000
mean,4.862420e+10,4.564510,10.660748,2018.429028,79.070141,0.849743,4.536255,0.756548,2014.909258
std,1.665431e+10,15.993441,48.201474,3.121035,831.368538,2.674037,8.936167,8.303504,6.054615
min,6.503852e+09,1.000000,0.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,1996.000000
25%,5.529365e+10,1.000000,1.000000,2016.000000,1.000000,0.080000,1.000000,0.000000,2012.000000
50%,5.718897e+10,1.000000,4.000000,2019.000000,7.000000,0.440000,2.000000,0.000000,2016.000000
75%,5.721136e+10,3.000000,10.700000,2021.000000,29.000000,0.960000,5.000000,0.000000,2019.000000
max,5.784032e+10,1181.000000,4164.000000,2023.000000,66886.000000,315.050000,190.000000,757.000000,2023.000000

Usamos la libreria pysql para hacer queries de SQL. Estos queries se usaran para transformacion, filtracion y creación de nuevas columnas dentro de nuestro set de datos. Con el objetivo de producir metricas de crecimiento para crear nuestra variable a predecir

In [47]:
globals()['df_authors']
pysqldf = lambda q: sqldf(q, globals())
query = 'SELECT df_pubs.author_id, count(*) AS no_pubs FROM df_authors, df_pubs where df_authors.author_id = df_pubs.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict

          author_id  no_pubs
0        6503851729        6
1        6503865347        2
2        6503873393        5
3        6503876779        1
4        6503893953        6
...             ...      ...
40610   57823787700        1
40611   57827092700        1
40612   57827560800        1
40613   57831415700        1
40614   57839436100        1

[40615 rows x 2 columns]

Teniendo listo nuestro query, lo transformamos en un diccionario para adjuntar en nuestra base de datos de autores, el numero de publicaciones de cada autor disponibles en nuestra base de datos de publicaciones

In [48]:
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_pubs']
dictionary

{' 6503851729': 6,
 ' 6503865347': 2,
 ' 6503873393': 5,
 ' 6503876779': 1,
 ' 6503893953': 6,
 ' 6503893965': 1,
 ' 6503898545': 8,
 ' 6503901835': 6,
 ' 6503911332': 10,
 ' 6503918538': 6,
 ' 6503931006': 5,
 ' 6503944610': 1,
 ' 6503952842': 1,
 ' 6503954208': 9,
 ' 6503955941': 2,
 ' 6503963315': 4,
 ' 6503968968': 3,
 ' 6503969108': 2,
 ' 6503971962': 1,
 ' 6503977235': 1,
 ' 6503978452': 1,
 ' 6503995879': 6,
 ' 6504000176': 3,
 ' 6504004192': 3,
 ' 6504011921': 4,
 ' 6504020140': 20,
 ' 6504028341': 2,
 ' 6504032035': 1,
 ' 6504032723': 1,
 ' 6504041990': 1,
 ' 6504046960': 1,
 ' 6504048616': 4,
 ' 6504049975': 3,
 ' 6504061592': 2,
 ' 6504068336': 3,
 ' 6504068652': 3,
 ' 6504078901': 4,
 ' 6504079032': 1,
 ' 6504079652': 3,
 ' 6504082224': 10,
 ' 6504100320': 5,
 ' 6504101503': 9,
 ' 6504105515': 1,
 ' 6504109714': 2,
 ' 6504111499': 1,
 ' 6504111531': 4,
 ' 6504113086': 1,
 ' 6504127922': 6,
 ' 6504128230': 1,
 ' 6504133345': 2,
 ' 6504135896': 8,
 ' 6504137443': 8,
 ' 6504139444': 1,
 ' 6504140741': 1,
 ' 6504147247': 1,
 ' 6504167374': 1,
 ' 6504175307': 1,
 ' 6504185286': 3,
 ' 6504186284': 2,
 ' 6504186744': 12,
 ' 6504194548': 2,
 ' 6504201846': 2,
 ' 6504206742': 3,
 ' 6504213461': 4,
 ' 6504213680': 2,
 ' 6504214415': 18,
 ' 6504222250': 2,
 ' 6504223537': 1,
 ' 6504224403': 1,
 ' 6504231208': 4,
 ' 6504234360': 1,
 ' 6504239414': 1,
 ' 6504239960': 2,
 ' 6504246788': 2,
 ' 6504247638': 4,
 ' 6504249248': 4,
 ' 6504251356': 3,
 ' 6504255582': 4,
 ' 6504257356': 1,
 ' 6504258453': 24,
 ' 6504266467': 3,
 ' 6504271322': 11,
 ' 6504277854': 4,
 ' 6504292628': 2,
 ' 6504295452': 3,
 ' 6504295995': 2,
 ' 6504301155': 6,
 ' 6504301277': 2,
 ' 6504303941': 1,
 ' 6504320910': 11,
 ' 6504321040': 2,
 ' 6504334829': 1,
 ' 6504335369': 4,
 ' 6504358380': 2,
 ' 6504368282': 2,
 ' 6504370837': 1,
 ' 6504379359': 6,
 ' 6504388571': 1,
 ' 6504388990': 6,
 ' 6504398179': 2,
 ' 6504400087': 1,
 ' 6504401157': 4,
 ' 6504401168': 1,
 ' 6504405532': 2,
 ' 6504406905': 1,
 ' 6504407455': 1,
 ' 6504413703': 17,
 ' 6504420320': 12,
 ' 6504422964': 1,
 ' 6504423868': 1,
 ' 6504426287': 1,
 ' 6504427216': 1,
 ' 6504431466': 1,
 ' 6504434446': 2,
 ' 6504446536': 2,
 ' 6504447414': 3,
 ' 6504452473': 2,
 ' 6504460249': 6,
 ' 6504461599': 7,
 ' 6504461841': 7,
 ' 6504478449': 4,
 ' 6504484213': 1,
 ' 6504491430': 3,
 ' 6504492283': 2,
 ' 6504494908': 2,
 ' 6504505327': 3,
 ' 6504509076': 3,
 ' 6504514196': 7,
 ' 6504516852': 2,
 ' 6504524893': 2,
 ' 6504526291': 13,
 ' 6504529819': 19,
 ' 6504530562': 1,
 ' 6504533853': 1,
 ' 6504546867': 3,
 ' 6504569649': 3,
 ' 6504573168': 3,
 ' 6504574323': 3,
 ' 6504575796': 1,
 ' 6504578835': 6,
 ' 6504583666': 8,
 ' 6504587725': 14,
 ' 6504590243': 5,
 ' 6504597589': 1,
 ' 6504600187': 1,
 ' 6504600720': 3,
 ' 6504602133': 2,
 ' 6504602470': 1,
 ' 6504607579': 1,
 ' 6504614044': 1,
 ' 6504628691': 1,
 ' 6504630876': 4,
 ' 6504645338': 2,
 ' 6504651223': 1,
 ' 6504670383': 2,
 ' 6504672976': 5,
 ' 6504673182': 4,
 ' 6504673723': 4,
 ' 6504674879': 1,
 ' 6504680125': 1,
 ' 6504681245': 1,
 ' 6504681386': 3,
 ' 6504684693': 6,
 ' 6504694033': 9,
 ' 6504704889': 1,
 ' 6504708453': 1,
 ' 6504711400': 1,
 ' 6504713819': 7,
 ' 6504715563': 9,
 ' 6504719324': 1,
 ' 6504722403': 5,
 ' 6504732811': 2,
 ' 6504735736': 2,
 ' 6504739503': 4,
 ' 6504742210': 2,
 ' 6504753019': 3,
 ' 6504759675': 4,
 ' 6504761323': 1,
 ' 6504766731': 3,
 ' 6504774198': 1,
 ' 6504780500': 2,
 ' 6504789213': 4,
 ' 6504791552': 1,
 ' 6504794713': 6,
 ' 6504794744': 1,
 ' 6504794915': 9,
 ' 6504798002': 2,
 ' 6504799259': 2,
 ' 6504805230': 8,
 ' 6504805674': 2,
 ' 6504812124': 5,
 ' 6504820760': 1,
 ' 6504821852': 12,
 ' 6504826640': 2,
 ' 6505463298': 7,
 ' 6505469665': 1,
 ' 6505473437': 6,
 ' 6505478600': 2,
 ' 6505480073': 2,
 ' 6505497846': 9,
 ' 6505501130': 3,
 ' 6505502199': 5,
 ' 6505517639': 26,
 ' 6505532966': 6,
 ' 6505533378': 1,
 ' 6505544363': 9,
 ' 6505546795': 1,
 ' 6505547369': 1,
 ' 6505550105': 1,
 ' 6505553001': 1,
 ' 6505557266': 2,
 ' 6505558004': 1,
 ' 6505560196': 2,
 ' 6505562279': 4,
 ' 6505566420': 1,
 ' 6505574668': 1,
 ' 6505575799': 4,
 ' 6505577224': 1,
 ' 6505579052': 7,
 ' 6505586399': 2,
 ' 6505588479': 1,
 ' 6505599144': 2,
 ' 6505601823': 2,
 ' 6505608890': 1,
 ' 6505610403': 16,
 ' 6505617726': 2,
 ' 6505620670': 9,
 ' 6505628449': 3,
 ' 6505632028': 2,
 ' 6505632614': 1,
 ' 6505639582': 2,
 ' 6505642069': 1,
 ' 6505646804': 2,
 ' 6505657031': 1,
 ' 6505666753': 1,
 ' 6505673937': 1,
 ' 6505675014': 4,
 ' 6505676289': 1,
 ' 6505683507': 6,
 ' 6505711889': 1,
 ' 6505712455': 2,
 ' 6505717827': 2,
 ' 6505719085': 2,
 ' 6505726935': 4,
 ' 6505745007': 12,
 ' 6505751148': 1,
 ' 6505754439': 1,
 ' 6505758085': 10,
 ' 6505758258': 12,
 ' 6505758312': 2,
 ' 6505761847': 7,
 ' 6505763588': 2,
 ' 6505765192': 3,
 ' 6505768739': 1,
 ' 6505770488': 3,
 ' 6505772905': 3,
 ' 6505775945': 1,
 ' 6505777402': 4,
 ' 6505782258': 3,
 ' 6505785458': 3,
 ' 6505787182': 2,
 ' 6505787705': 5,
 ' 6505789521': 5,
 ' 6505796000': 1,
 ' 6505798626': 3,
 ' 6505802749': 4,
 ' 6505802776': 6,
 ' 6505804080': 5,
 ' 6505806920': 9,
 ' 6505807346': 4,
 ' 6505812448': 2,
 ' 6505816476': 18,
 ' 6505816668': 1,
 ' 6505818959': 7,
 ' 6505819255': 4,
 ' 6505821917': 1,
 ' 6505832006': 1,
 ' 6505833334': 4,
 ' 6505833960': 11,
 ' 6505836371': 4,
 ' 6505836819': 5,
 ' 6505840023': 7,
 ' 6505842306': 5,
 ' 6505845271': 4,
 ' 6505848693': 7,
 ' 6505849391': 1,
 ' 6505849874': 5,
 ' 6505852315': 1,
 ' 6505857985': 2,
 ' 6505860126': 10,
 ' 6505863086': 1,
 ' 6505865807': 4,
 ' 6505866170': 7,
 ' 6505873373': 1,
 ' 6505873475': 1,
 ' 6505876968': 44,
 ' 6505883982': 1,
 ' 6505886020': 1,
 ' 6505888254': 1,
 ' 6505889447': 2,
 ' 6505889870': 3,
 ' 6505891376': 3,
 ' 6505893839': 5,
 ' 6505894417': 3,
 ' 6505897538': 4,
 ' 6505898338': 3,
 ' 6505903651': 7,
 ' 6505904469': 2,
 ' 6505906897': 6,
 ' 6505908038': 2,
 ' 6505908719': 1,
 ' 6505910402': 10,
 ' 6505912810': 3,
 ' 6505914789': 18,
 ' 6505914985': 1,
 ' 6505915400': 6,
 ' 6505915546': 21,
 ' 6505918222': 11,
 ' 6505923718': 2,
 ' 6505926712': 4,
 ' 6505929317': 1,
 ' 6505931040': 18,
 ' 6505932025': 2,
 ' 6505935861': 5,
 ' 6505936057': 1,
 ' 6505936534': 1,
 ' 6505944215': 1,
 ' 6505947509': 2,
 ' 6505948461': 8,
 ' 6505949295': 2,
 ' 6505955548': 1,
 ' 6505956782': 5,
 ' 6505960720': 4,
 ' 6505962185': 5,
 ' 6505962974': 1,
 ' 6505963823': 7,
 ' 6505964853': 3,
 ' 6505965042': 11,
 ' 6505969362': 12,
 ' 6505973428': 1,
 ' 6505973586': 1,
 ' 6505973736': 1,
 ' 6505973932': 2,
 ' 6505975750': 4,
 ' 6505976662': 5,
 ' 6505982552': 3,
 ' 6505987318': 1,
 ' 6505992035': 8,
 ' 6505996315': 11,
 ' 6505997775': 4,
 ' 6506001293': 13,
 ' 6506003871': 7,
 ' 6506004033': 4,
 ' 6506006931': 5,
 ' 6506007218': 2,
 ' 6506007456': 1,
 ' 6506007667': 2,
 ' 6506012382': 2,
 ' 6506012489': 1,
 ' 6506017456': 7,
 ' 6506026364': 11,
 ' 6506027973': 11,
 ' 6506028502': 6,
 ' 6506029213': 5,
 ' 6506031001': 4,
 ' 6506032174': 1,
 ' 6506033804': 4,
 ' 6506034311': 1,
 ' 6506034498': 19,
 ' 6506035362': 2,
 ' 6506038079': 1,
 ' 6506038629': 22,
 ' 6506040054': 1,
 ' 6506042886': 2,
 ' 6506043853': 2,
 ' 6506044403': 1,
 ' 6506052973': 4,
 ' 6506054015': 1,
 ' 6506056767': 12,
 ' 6506059674': 7,
 ' 6506062742': 2,
 ' 6506065675': 6,
 ' 6506066125': 1,
 ' 6506066447': 5,
 ' 6506074552': 3,
 ' 6506077066': 1,
 ' 6506080409': 15,
 ' 6506080687': 2,
 ' 6506081813': 3,
 ' 6506083104': 1,
 ' 6506084878': 4,
 ' 6506085738': 1,
 ' 6506087231': 8,
 ' 6506088352': 10,
 ' 6506096188': 6,
 ' 6506101893': 1,
 ' 6506104212': 4,
 ' 6506105456': 5,
 ' 6506111269': 17,
 ' 6506112654': 2,
 ' 6506114959': 6,
 ' 6506116572': 2,
 ' 6506125213': 19,
 ' 6506130502': 10,
 ' 6506137534': 12,
 ' 6506140558': 3,
 ' 6506141752': 19,
 ' 6506144520': 2,
 ' 6506147066': 9,
 ' 6506147480': 1,
 ' 6506149574': 8,
 ' 6506150090': 7,
 ' 6506155106': 1,
 ' 6506155987': 3,
 ' 6506156104': 1,
 ' 6506157622': 4,
 ' 6506160633': 3,
 ' 6506162041': 1,
 ' 6506169235': 3,
 ' 6506170243': 5,
 ' 6506170290': 4,
 ' 6506170426': 3,
 ' 6506171238': 2,
 ' 6506176103': 4,
 ' 6506177844': 47,
 ' 6506178284': 1,
 ' 6506179888': 2,
 ' 6506180438': 1,
 ' 6506181436': 2,
 ' 6506196299': 6,
 ' 6506196631': 1,
 ' 6506197459': 7,
 ' 6506199024': 10,
 ' 6506202108': 20,
 ' 6506203558': 2,
 ' 6506205654': 2,
 ' 6506208201': 1,
 ' 6506208501': 6,
 ' 6506209790': 12,
 ' 6506210525': 6,
 ' 6506211338': 1,
 ' 6506216161': 2,
 ' 6506223487': 5,
 ' 6506229114': 1,
 ' 6506235881': 23,
 ' 6506235941': 6,
 ' 6506238534': 6,
 ' 6506240492': 1,
 ' 6506241628': 3,
 ' 6506242318': 1,
 ' 6506242993': 1,
 ' 6506243054': 4,
 ' 6506249346': 2,
 ' 6506249436': 6,
 ' 6506253519': 1,
 ' 6506256176': 1,
 ' 6506258599': 7,
 ' 6506265764': 1,
 ' 6506272169': 7,
 ' 6506277932': 2,
 ' 6506279130': 1,
 ' 6506279708': 5,
 ' 6506283426': 1,
 ' 6506284725': 9,
 ' 6506286940': 1,
 ' 6506297891': 6,
 ' 6506298639': 2,
 ' 6506299628': 2,
 ' 6506300541': 1,
 ' 6506306371': 1,
 ' 6506307713': 1,
 ' 6506312498': 10,
 ' 6506312841': 3,
 ' 6506313272': 1,
 ' 6506318856': 7,
 ' 6506322301': 9,
 ' 6506322660': 3,
 ' 6506328846': 2,
 ' 6506330635': 5,
 ' 6506333225': 2,
 ' 6506336441': 23,
 ' 6506340773': 1,
 ' 6506342530': 1,
 ' 6506347187': 1,
 ' 6506361611': 2,
 ' 6506364803': 5,
 ' 6506365536': 1,
 ' 6506367383': 7,
 ' 6506377553': 3,
 ' 6506382335': 1,
 ' 6506385182': 1,
 ' 6506389371': 7,
 ' 6506392026': 7,
 ' 6506393688': 9,
 ' 6506394053': 3,
 ' 6506395573': 1,
 ' 6506397580': 2,
 ' 6506398032': 1,
 ' 6506402335': 1,
 ' 6506403698': 3,
 ' 6506404807': 1,
 ' 6506405780': 33,
 ' 6506407426': 6,
 ' 6506414270': 1,
 ' 6506416147': 1,
 ' 6506420763': 1,
 ' 6506422875': 3,
 ' 6506423684': 10,
 ' 6506424308': 2,
 ' 6506426189': 1,
 ' 6506429060': 3,
 ' 6506431037': 3,
 ' 6506431331': 6,
 ' 6506434930': 3,
 ' 6506437094': 19,
 ' 6506443620': 1,
 ' 6506451268': 5,
 ' 6506454395': 1,
 ' 6506455300': 1,
 ' 6506456387': 7,
 ' 6506465148': 4,
 ' 6506466751': 1,
 ' 6506468698': 2,
 ' 6506470274': 12,
 ' 6506471962': 15,
 ' 6506472168': 5,
 ' 6506474850': 1,
 ' 6506475198': 1,
 ' 6506476404': 1,
 ' 6506477627': 3,
 ' 6506479576': 2,
 ' 6506479802': 15,
 ' 6506484520': 1,
 ' 6506485125': 4,
 ' 6506485375': 2,
 ' 6506485911': 1,
 ' 6506486828': 3,
 ' 6506488057': 2,
 ' 6506489954': 4,
 ' 6506490194': 6,
 ' 6506493453': 2,
 ' 6506496675': 2,
 ' 6506501673': 15,
 ' 6506510856': 2,
 ' 6506512123': 7,
 ' 6506519815': 7,
 ' 6506521014': 2,
 ' 6506521070': 2,
 ' 6506522157': 3,
 ' 6506524105': 2,
 ' 6506524159': 1,
 ' 6506526460': 2,
 ' 6506531405': 12,
 ' 6506532215': 2,
 ' 6506535936': 11,
 ' 6506536253': 1,
 ' 6506539662': 28,
 ' 6506539749': 1,
 ' 6506540836': 14,
 ' 6506543947': 1,
 ' 6506548122': 2,
 ' 6506555949': 3,
 ' 6506561367': 8,
 ' 6506562415': 1,
 ' 6506563995': 2,
 ' 6506568002': 7,
 ' 6506574009': 2,
 ' 6506577069': 1,
 ' 6506580235': 1,
 ' 6506580851': 1,
 ' 6506583503': 3,
 ' 6506584683': 1,
 ' 6506587454': 4,
 ' 6506590087': 2,
 ' 6506592419': 8,
 ' 6506594382': 20,
 ' 6506604573': 2,
 ' 6506606240': 6,
 ' 6506606834': 2,
 ' 6506607410': 4,
 ' 6506618910': 7,
 ' 6506620780': 9,
 ' 6506624141': 1,
 ' 6506625549': 1,
 ' 6506626795': 3,
 ' 6506628226': 3,
 ' 6506630648': 2,
 ' 6506631155': 1,
 ' 6506632890': 4,
 ' 6506640298': 6,
 ' 6506643397': 3,
 ' 6506644040': 7,
 ' 6506646905': 8,
 ' 6506648998': 4,
 ' 6506649839': 6,
 ' 6506650045': 3,
 ' 6506650934': 1,
 ' 6506652892': 1,
 ' 6506657110': 4,
 ' 6506659195': 2,
 ' 6506659945': 4,
 ' 6506662713': 1,
 ' 6506666678': 5,
 ' 6506667502': 16,
 ' 6506674904': 1,
 ' 6506675064': 43,
 ' 6506677999': 11,
 ' 6506678167': 8,
 ' 6506683323': 14,
 ' 6506688007': 3,
 ' 6506688399': 11,
 ' 6506690384': 3,
 ' 6506690415': 6,
 ' 6506693330': 10,
 ' 6506696172': 13,
 ' 6506697065': 22,
 ' 6506700151': 1,
 ' 6506703969': 2,
 ' 6506705746': 5,
 ' 6506712256': 6,
 ' 6506715655': 2,
 ' 6506715734': 2,
 ' 6506717804': 7,
 ' 6506718707': 1,
 ' 6506722285': 2,
 ' 6506722922': 3,
 ' 6506723288': 2,
 ' 6506725159': 4,
 ' 6506728773': 4,
 ' 6506729072': 11,
 ' 6506735854': 3,
 ' 6506739479': 1,
 ' 6506747320': 2,
 ' 6506750078': 8,
 ' 6506750498': 6,
 ' 6506752191': 5,
 ' 6506753404': 16,
 ' 6506754178': 6,
 ' 6506754864': 2,
 ' 6506755726': 4,
 ' 6506758682': 12,
 ' 6506759491': 19,
 ' 6506760915': 2,
 ' 6506761097': 8,
 ' 6506766988': 1,
 ' 6506770757': 13,
 ' 6506771518': 1,
 ' 6506771989': 1,
 ' 6506777249': 2,
 ' 6506778558': 13,
 ' 6506783941': 4,
 ' 6506788332': 4,
 ' 6506791678': 4,
 ' 6506794234': 2,
 ' 6506794290': 7,
 ' 6506796915': 2,
 ' 6506797361': 2,
 ' 6506799284': 1,
 ' 6506799742': 26,
 ' 6506801932': 1,
 ' 6506805819': 1,
 ' 6506806210': 1,
 ' 6506812036': 2,
 ' 6506814388': 1,
 ' 6506817367': 5,
 ' 6506823596': 64,
 ' 6506826938': 7,
 ' 6506830381': 73,
 ' 6506830898': 1,
 ' 6506832523': 2,
 ' 6506833343': 5,
 ' 6506834980': 7,
 ' 6506839283': 3,
 ' 6506844738': 41,
 ' 6506848867': 2,
 ' 6506850682': 13,
 ' 6506856613': 8,
 ' 6506857118': 4,
 ' 6506861125': 3,
 ' 6506862178': 3,
 ' 6506866411': 6,
 ' 6506874144': 14,
 ' 6506876710': 1,
 ' 6506881299': 12,
 ' 6506881660': 1,
 ' 6506884686': 4,
 ' 6506890449': 6,
 ' 6506892665': 13,
 ' 6506894984': 3,
 ' 6506895502': 8,
 ' 6506898241': 3,
 ' 6506900456': 8,
 ' 6506902751': 21,
 ' 6506902796': 4,
 ' 6506903792': 4,
 ' 6506906912': 2,
 ' 6506907314': 45,
 ' 6506908856': 1,
 ' 6506909381': 5,
 ' 6506915626': 1,
 ' 6506918973': 6,
 ' 6506921226': 2,
 ' 6506922609': 1,
 ' 6506925415': 13,
 ' 6506926639': 1,
 ' 6506926801': 3,
 ' 6506928337': 4,
 ' 6506929332': 1,
 ' 6506937902': 3,
 ' 6506939997': 6,
 ' 6506941485': 9,
 ' 6506941630': 6,
 ' 6506942641': 1,
 ' 6506944086': 7,
 ' 6506946317': 3,
 ' 6506950237': 3,
 ' 6506955762': 4,
 ' 6506956166': 1,
 ' 6506960601': 7,
 ' 6506965491': 34,
 ' 6506968670': 7,
 ' 6506970474': 2,
 ' 6506974393': 20,
 ' 6506977481': 1,
 ' 6506977898': 1,
 ' 6506979817': 4,
 ' 6506981149': 3,
 ' 6506983115': 3,
 ' 6506983281': 2,
 ' 6506991828': 8,
 ' 6506992753': 1,
 ' 6506994562': 2,
 ' 6506996955': 23,
 ' 6507001167': 1,
 ' 6507001557': 7,
 ' 6507009556': 2,
 ' 6507009751': 6,
 ' 6507011991': 3,
 ' 6507016280': 1,
 ' 6507019400': 8,
 ' 6507023155': 14,
 ' 6507023545': 3,
 ' 6507024906': 2,
 ' 6507026603': 3,
 ' 6507027151': 12,
 ' 6507027661': 5,
 ' 6507027671': 21,
 ' 6507027722': 3,
 ' 6507030856': 1,
 ' 6507033014': 14,
 ' 6507036561': 1,
 ' 6507036858': 2,
 ' 6507041142': 24,
 ' 6507043593': 4,
 ' 6507044549': 3,
 ' 6507046861': 6,
 ' 6507047012': 3,
 ' 6507049862': 1,
 ' 6507055644': 20,
 ' 6507062002': 7,
 ' 6507067257': 3,
 ' 6507067560': 3,
 ' 6507071094': 1,
 ' 6507071696': 1,
 ' 6507073883': 19,
 ' 6507076704': 2,
 ' 6507080533': 13,
 ' 6507086859': 2,
 ' 6507088248': 5,
 ' 6507088876': 2,
 ' 6507090456': 5,
 ' 6507096554': 8,
 ' 6507097557': 2,
 ' 6507099074': 7,
 ' 6507100528': 8,
 ' 6507100563': 1,
 ' 6507104626': 4,
 ' 6507117206': 1,
 ' 6507122789': 2,
 ' 6507122960': 1,
 ' 6507125324': 3,
 ' 6507126148': 7,
 ' 6507126408': 1,
 ' 6507128908': 5,
 ' 6507129308': 1,
 ' 6507133032': 18,
 ' 6507134198': 2,
 ' 6507138468': 19,
 ' 6507139455': 7,
 ' 6507141607': 10,
 ' 6507142728': 1,
 ' 6507142905': 1,
 ' 6507143875': 1,
 ' 6507147195': 1,
 ' 6507149040': 4,
 ' 6507149045': 5,
 ' 6507150360': 11,
 ' 6507153267': 2,
 ' 6507156740': 7,
 ' 6507159225': 1,
 ' 6507163445': 14,
 ' 6507171033': 2,
 ' 6507171978': 5,
 ' 6507181428': 1,
 ' 6507184778': 2,
 ' 6507187685': 5,
 ' 6507190158': 1,
 ' 6507190649': 1,
 ' 6507196398': 1,
 ' 6507199302': 8,
 ' 6507202063': 7,
 ' 6507203187': 9,
 ' 6507209416': 1,
 ' 6507210358': 4,
 ' 6507213088': 5,
 ' 6507216122': 11,
 ' 6507219464': 17,
 ' 6507219868': 2,
 ' 6507220386': 2,
 ' 6507221438': 5,
 ' 6507222443': 3,
 ' 6507222789': 1,
 ' 6507230171': 11,
 ' 6507235388': 6,
 ' 6507236031': 2,
 ' 6507237308': 1,
 ' 6507242994': 1,
 ' 6507243491': 2,
 ' 6507245525': 1,
 ' 6507247439': 6,
 ' 6507250409': 2,
 ' 6507251187': 1,
 ' 6507254551': 11,
 ' 6507255527': 1,
 ' 6507257567': 4,
 ' 6507257620': 12,
 ' 6507260780': 11,
 ' 6507263469': 2,
 ' 6507264233': 1,
 ' 6507265502': 2,
 ' 6507266874': 2,
 ' 6507272333': 5,
 ' 6507275715': 2,
 ' 6507277509': 3,
 ' 6507280980': 7,
 ' 6507283426': 10,
 ' 6507286127': 28,
 ' 6507286473': 1,
 ' 6507288320': 3,
 ' 6507289870': 10,
 ' 6507290708': 1,
 ' 6507290892': 1,
 ' 6507295653': 10,
 ' 6507299914': 8,
 ' 6507301110': 1,
 ' 6507309439': 1,
 ' 6507314810': 10,
 ' 6507319962': 8,
 ' 6507329092': 26,
 ' 6507331381': 1,
 ' 6507331695': 2,
 ' 6507336122': 1,
 ' 6507337459': 2,
 ' 6507341460': 13,
 ' 6507345131': 3,
 ' 6507346306': 40,
 ' 6507346932': 6,
 ' 6507347515': 6,
 ' 6507349680': 1,
 ' 6507351085': 2,
 ' 6507352084': 3,
 ' 6507352624': 6,
 ' 6507352654': 5,
 ' 6507354005': 1,
 ' 6507356380': 1,
 ' 6507358180': 2,
 ' 6507358222': 2,
 ' 6507358709': 1,
 ' 6507359224': 4,
 ' 6507362425': 1,
 ' 6507362981': 1,
 ' 6507363155': 1,
 ' 6507367910': 2,
 ' 6507368904': 3,
 ' 6507370206': 12,
 ' 6507371795': 2,
 ' 6507373786': 2,
 ' 6507379324': 1,
 ' 6507379397': 3,
 ' 6507380737': 15,
 ' 6507389068': 1,
 ' 6507397122': 7,
 ' 6507397617': 5,
 ' 6507398479': 1,
 ' 6507399228': 1,
 ' 6507399644': 6,
 ' 6507399835': 4,
 ' 6507401023': 13,
 ' 6507402811': 14,
 ' 6507405093': 3,
 ' 6507408686': 3,
 ' 6507409665': 2,
 ' 6507411437': 4,
 ' 6507412031': 4,
 ' 6507414080': 1,
 ' 6507416550': 3,
 ' 6507417384': 1,
 ' 6507417733': 13,
 ' 6507418902': 2,
 ' 6507421706': 8,
 ' 6507424508': 1,
 ' 6507425231': 1,
 ' 6507426642': 5,
 ' 6507427391': 6,
 ' 6507429974': 2,
 ' 6507431920': 3,
 ' 6507433871': 8,
 ' 6507437869': 4,
 ' 6507451886': 1,
 ' 6507451913': 2,
 ' 6507452773': 5,
 ' 6507454687': 2,
 ' 6507454913': 3,
 ' 6507462423': 4,
 ' 6507465601': 4,
 ' 6507468568': 9,
 ' 6507469848': 1,
 ' 6507474784': 10,
 ' 6507478081': 2,
 ' 6507479441': 1,
 ' 6507480480': 3,
 ' 6507480584': 4,
 ' 6507482036': 1,
 ' 6507482555': 10,
 ' 6507484012': 9,
 ' 6507485075': 1,
 ' 6507487268': 12,
 ' 6507498756': 8,
 ' 6507500058': 14,
 ' 6507500611': 1,
 ' 6507502348': 3,
 ' 6507505186': 3,
 ' 6507508817': 1,
 ' 6507509647': 1,
 ' 6507510657': 9,
 ' 6507511732': 13,
 ' 6507511951': 2,
 ' 6507513073': 1,
 ' 6507514178': 24,
 ' 6507520839': 9,
 ' 6507522224': 1,
 ' 6507522333': 8,
 ' 6507522823': 13,
 ' 6507522924': 1,
 ' 6507526184': 1,
 ' 6507526242': 1,
 ' 6507528851': 2,
 ' 6507529268': 7,
 ' 6507537216': 18,
 ' 6507538729': 2,
 ' 6507541393': 3,
 ' 6507547989': 5,
 ' 6507550544': 15,
 ' 6507551478': 8,
 ' 6507552876': 1,
 ' 6507555190': 4,
 ' 6507557001': 10,
 ' 6507561459': 1,
 ' 6507568083': 4,
 ' 6507572165': 23,
 ' 6507575263': 4,
 ' 6507576186': 1,
 ' 6507576204': 2,
 ' 6507579807': 4,
 ' 6507581024': 1,
 ' 6507583269': 16,
 ' 6507586688': 5,
 ' 6507589316': 3,
 ' 6507593812': 6,
 ' 6507600183': 1,
 ' 6507608253': 1,
 ' 6507610071': 1,
 ' 6507610244': 3,
 ' 6507611651': 4,
 ' 6507613051': 2,
 ' 6507613423': 1,
 ' 6507613931': 1,
 ' 6507614454': 1,
 ' 6507615136': 6,
 ' 6507616875': 6,
 ' 6507617526': 5,
 ' 6507618224': 2,
 ' 6507620297': 1,
 ' 6507623011': 1,
 ' 6507624236': 5,
 ' 6507626407': 1,
 ' 6507628927': 7,
 ' 6507629409': 1,
 ' 6507629823': 2,
 ' 6507631195': 4,
 ...}

El key de nuestro diccionario a usar tiene un ' ' adicional que impide el procesamiento correcto, asi que se hace una iteracion que elimina este caracter de la llave y lo transforma en el mismo tipo de dato que la columna 'author_id' dentro de nuestro set de autores. Finalizando esto, utilizamos la funcion map para adjuntar el numero de publicaciones con su autor respectivo

In [49]:
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_pubs'] = df_authors['author_id'].map(dictionary)
df_authors

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs
0,6.503852e+09,8,6.6,2022,53,0.63,5,0,2004,6.0
1,6.503865e+09,2,18.5,2019,37,0.98,6,0,2005,2.0
2,6.503873e+09,1,23.0,2013,23,8.42,15,2,2011,5.0
3,6.503877e+09,1,1.0,2019,1,0.87,7,0,2019,1.0
4,6.503885e+09,3,4.3,2016,13,0.14,3,0,1999,NaN
...,...,...,...,...,...,...,...,...,...,...
84796,5.783818e+10,1,0.0,2022,0,0.00,0,0,2022,NaN
84797,5.783832e+10,1,0.0,2022,0,0.00,0,0,2022,NaN
84798,5.783838e+10,1,0.0,2022,0,0.00,0,0,2022,NaN
84799,5.783944e+10,3,89.7,2018,269,4.13,3,3,2016,1.0
84800,5.784032e+10,1,2.0,2022,2,2.35,1,0,2022,NaN

Tenemos autores dentro de nuestro set de datos que no tienen ninguna publicacion dentro de nuestro base de datos de publicaciones. Siendo informacion que no se utilizara, eliminamos estos autores

In [50]:
df_authors = df_authors.dropna(axis=0)
df_authors

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs
0,6.503852e+09,8,6.6,2022,53,0.63,5,0,2004,6.0
1,6.503865e+09,2,18.5,2019,37,0.98,6,0,2005,2.0
2,6.503873e+09,1,23.0,2013,23,8.42,15,2,2011,5.0
3,6.503877e+09,1,1.0,2019,1,0.87,7,0,2019,1.0
5,6.503894e+09,1,20.0,2017,20,0.54,4,0,2017,6.0
...,...,...,...,...,...,...,...,...,...,...
84607,5.782379e+10,1,0.0,2021,0,0.00,0,0,2021,1.0
84660,5.782709e+10,2,0.0,2022,0,0.00,0,0,2019,1.0
84669,5.782756e+10,1,12.0,2019,12,1.12,1,0,2019,1.0
84718,5.783142e+10,1,13.0,2019,13,0.98,1,0,2019,1.0
84799,5.783944e+10,3,89.7,2018,269,4.13,3,3,2016,1.0

Vemos una reduccion en los datos a 41833 autores

Queriendo establecer una moda de crecimiento en los autores, los limitamos a autores que empezaron a publicar al mismo tiempo que inicia nuestro set de datos de publicaciones; este siendo el año 2017

In [51]:
query = 'SELECT * FROM df_authors WHERE oldest_pub = 2017'
usable_df = pysqldf(query)
usable_df.describe()
df_authors = usable_df

Asi reducimos el set de datos a 4229 autores cuya publicacion inicial ha sido en 2017

Para poder obtener metricas de crecimiento de los autores, dividiremos el set de datos en publicaciones en sus primeros tres años y ultimos dos años; de estos crearemos un 'score' de su calidad de investigacion

In [52]:
query = 'SELECT * FROM df_pubs WHERE df_pubs.year < 2020'
df_pubs_pre2020 = pysqldf(query)
query = 'SELECT * FROM df_pubs WHERE df_pubs.year >= 2020'
df_pubs_post2020 = pysqldf(query)
df_pubs_post2020.describe()

,num_authors,year,SNIP,citeScore,SJR,FWVI,views,citations,FWCI,FCA,top_outputs_percentile,top_fwci_outputs_percentile,first_author_id,last_author_id,single_author_id
count,235100.000000,235100.00000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,2.351000e+05,2.351000e+05,2.351000e+05
mean,15.050808,2020.52100,1.419058,7.186637,1.517891,1.594025,25.226461,8.186878,1.572842,5.110687,32.439128,37.103411,4.694321e+10,3.296481e+10,4.425404e+08
std,18.926702,0.49956,1.583477,8.967856,2.253595,1.584054,28.565317,28.392882,4.627186,3.656604,20.988009,21.259697,1.791825e+10,2.246116e+10,4.838305e+09
min,0.000000,2020.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000,2020.00000,0.850000,2.900000,0.513000,0.720000,10.000000,1.000000,0.140000,2.620000,14.000000,18.000000,3.936240e+10,7.101798e+09,0.000000e+00
50%,8.000000,2021.00000,1.170000,5.300000,0.927000,1.170000,18.000000,3.000000,0.620000,3.930000,29.000000,39.000000,5.702671e+10,3.540590e+10,0.000000e+00
75%,15.000000,2021.00000,1.520000,8.900000,1.739000,1.930000,30.000000,7.000000,1.570000,7.170000,55.000000,55.000000,5.720936e+10,5.635182e+10,0.000000e+00
max,99.000000,2021.00000,33.800000,115.700000,37.461000,41.110000,697.000000,1810.000000,246.430000,37.210000,71.000000,71.000000,5.783956e+10,5.784094e+10,5.782821e+10

In [53]:
df_pubs_post2020.describe()

,num_authors,year,SNIP,citeScore,SJR,FWVI,views,citations,FWCI,FCA,top_outputs_percentile,top_fwci_outputs_percentile,first_author_id,last_author_id,single_author_id
count,235100.000000,235100.00000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,235100.000000,2.351000e+05,2.351000e+05,2.351000e+05
mean,15.050808,2020.52100,1.419058,7.186637,1.517891,1.594025,25.226461,8.186878,1.572842,5.110687,32.439128,37.103411,4.694321e+10,3.296481e+10,4.425404e+08
std,18.926702,0.49956,1.583477,8.967856,2.253595,1.584054,28.565317,28.392882,4.627186,3.656604,20.988009,21.259697,1.791825e+10,2.246116e+10,4.838305e+09
min,0.000000,2020.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000,2020.00000,0.850000,2.900000,0.513000,0.720000,10.000000,1.000000,0.140000,2.620000,14.000000,18.000000,3.936240e+10,7.101798e+09,0.000000e+00
50%,8.000000,2021.00000,1.170000,5.300000,0.927000,1.170000,18.000000,3.000000,0.620000,3.930000,29.000000,39.000000,5.702671e+10,3.540590e+10,0.000000e+00
75%,15.000000,2021.00000,1.520000,8.900000,1.739000,1.930000,30.000000,7.000000,1.570000,7.170000,55.000000,55.000000,5.720936e+10,5.635182e+10,0.000000e+00
max,99.000000,2021.00000,33.800000,115.700000,37.461000,41.110000,697.000000,1810.000000,246.430000,37.210000,71.000000,71.000000,5.783956e+10,5.784094e+10,5.782821e+10

In [54]:
df_pubs_post2020.boxplot(column='FWVI', figsize=(10,10))

In [55]:
df_pubs_post2020.boxplot(column='FWCI', figsize=(10,10))

### Creacion de metricas de calificacion de rising star

Crearemos varias metricas que usaremos para producir un score: Entre estos, se utilizara el numero de publicaciones, numero de publicaciones como primer autor, numero de publicaciones como autor singular, FWCI (Field Weighted Citation Impact), FWVI (Field Weighted View Impact), etc. Despues de hacer un analisis descriptivo de las variables, considerando su promedio y rango; se utilizara la siguiente tabla para calcular un score numerico. Una vez teniendo este score, se usara el maximo y minimo para normalizarlo a un rango entre 0 a 1.

In [56]:
query = 'SELECT df_pubs_pre2020.author_id, count(*) AS no_first_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id AND df_authors.author_id = df_pubs_pre2020.first_author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_first_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_first_old'] = df_authors['author_id'].map(dictionary)
df_authors['no_first_old'] = df_authors['no_first_old'].fillna(0)
df_authors['no_first_old'].value_counts()

0.0    4229
Name: no_first_old, dtype: int64

In [57]:
query = 'SELECT df_pubs_post2020.author_id, count(*) AS no_first_new FROM df_authors, df_pubs_post2020 where df_authors.author_id = df_pubs_post2020.author_id AND df_authors.author_id = df_pubs_post2020.first_author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_first_new']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_first_new'] = df_authors['author_id'].map(dictionary)
df_authors['no_first_new'] = df_authors['no_first_new'].fillna(0)
df_authors['no_first_new'].value_counts()

0.0    4228
2.0       1
Name: no_first_new, dtype: int64

In [58]:
query = 'SELECT df_pubs_pre2020.author_id, count(*) AS no_first_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id AND df_authors.author_id = df_pubs_pre2020.first_author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_first_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_first_old'] = df_authors['author_id'].map(dictionary)
df_authors['no_first_old'] = df_authors['no_first_old'].fillna(0)
df_authors['no_first_old'].value_counts()

0.0    4229
Name: no_first_old, dtype: int64

In [59]:
query = 'SELECT df_pubs_pre2020.author_id, count(*) AS no_pubs_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_pubs_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_pubs_old'] = df_authors['author_id'].map(dictionary)
df_authors['no_pubs_old'] = df_authors['no_pubs_old'].fillna(0)
df_authors['no_pubs_old'].value_counts()

1.0     2417
2.0      776
0.0      276
3.0      275
4.0      174
5.0       88
6.0       84
7.0       30
8.0       29
9.0       18
12.0      12
16.0       7
13.0       7
11.0       6
10.0       6
30.0       3
20.0       3
14.0       3
24.0       3
15.0       2
22.0       2
23.0       2
18.0       2
17.0       1
31.0       1
19.0       1
44.0       1
Name: no_pubs_old, dtype: int64

In [60]:
query = 'SELECT df_pubs_post2020.author_id, count(*) AS no_pubs_new FROM df_authors, df_pubs_post2020 where df_authors.author_id = df_pubs_post2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['no_pubs_new']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['no_pubs_new'] = df_authors['author_id'].map(dictionary)
df_authors['no_pubs_new'] = df_authors['no_pubs_new'].fillna(0)
df_authors['no_pubs_new'].value_counts()

0.0     2826
1.0      687
2.0      330
3.0      114
4.0       80
5.0       52
6.0       42
7.0       18
9.0       17
12.0      10
13.0       9
8.0        8
10.0       6
14.0       4
19.0       3
30.0       3
84.0       3
16.0       3
23.0       2
11.0       2
15.0       2
25.0       1
33.0       1
26.0       1
21.0       1
32.0       1
18.0       1
29.0       1
97.0       1
Name: no_pubs_new, dtype: int64

In [61]:
query = 'SELECT df_pubs_pre2020.author_id, avg(df_pubs_pre2020.FWCI) AS avg_fwci_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_fwci_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_fwci_old'] = df_authors['author_id'].map(dictionary)
df_authors['avg_fwci_old'] = df_authors['avg_fwci_old'].fillna(0)
df_authors['avg_fwci_old'].value_counts()

0.000000    806
0.150000     54
0.450000     46
0.120000     43
0.290000     39
           ...
6.720000      1
0.765000      1
0.462727      1
0.862500      1
2.257500      1
Name: avg_fwci_old, Length: 1087, dtype: int64

In [62]:
query = 'SELECT df_pubs_post2020.author_id, avg(df_pubs_post2020.FWCI) AS avg_fwci_new FROM df_authors, df_pubs_post2020 where df_authors.author_id = df_pubs_post2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_fwci_new']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_fwci_new'] = df_authors['author_id'].map(dictionary)
df_authors['avg_fwci_new'] = df_authors['avg_fwci_new'].fillna(0)
df_authors['avg_fwci_new'].value_counts()

0.000000    3055
0.240000      14
0.310000      13
0.420000      10
0.340000       9
            ...
0.330000       1
2.240000       1
0.904000       1
0.863333       1
0.536667       1
Name: avg_fwci_new, Length: 668, dtype: int64

In [63]:
query = 'SELECT df_pubs_pre2020.author_id, avg(df_pubs_pre2020.FWVI) AS avg_fwvi_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_fwvi_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_fwvi_old'] = df_authors['author_id'].map(dictionary)
df_authors['avg_fwvi_old'] = df_authors['avg_fwvi_old'].fillna(0)
df_authors['avg_fwvi_old'].value_counts()

0.000000    303
1.010000     29
0.860000     29
0.760000     28
0.890000     27
           ...
1.385714      1
0.685000      1
1.428333      1
1.022500      1
1.790714      1
Name: avg_fwvi_old, Length: 1161, dtype: int64

In [64]:
query = 'SELECT df_pubs_post2020.author_id, avg(df_pubs_post2020.FWVI) AS avg_fwvi_new FROM df_authors, df_pubs_post2020 where df_authors.author_id = df_pubs_post2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_fwvi_new']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_fwvi_new'] = df_authors['author_id'].map(dictionary)
df_authors['avg_fwvi_new'] = df_authors['avg_fwvi_new'].fillna(0)
df_authors['avg_fwvi_new'].value_counts()

0.000000    2831
0.740000      12
0.820000      12
0.650000      11
0.770000      11
            ...
2.330000       1
1.565000       1
1.890000       1
2.273333       1
2.200000       1
Name: avg_fwvi_new, Length: 705, dtype: int64

In [65]:
query = 'SELECT df_pubs_pre2020.author_id, avg(df_pubs_pre2020.citeScore) AS avg_citescore_old FROM df_authors, df_pubs_pre2020 where df_authors.author_id = df_pubs_pre2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_citescore_old']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_citescore_old'] = df_authors['author_id'].map(dictionary)
df_authors['avg_citescore_old'] = df_authors['avg_citescore_old'].fillna(0)
df_authors['avg_citescore_old'].value_counts()

0.000000    589
0.700000     79
1.000000     79
0.100000     74
0.600000     73
           ...
9.975000      1
5.850000      1
0.400000      1
1.733333      1
6.228571      1
Name: avg_citescore_old, Length: 761, dtype: int64

In [66]:
query = 'SELECT df_pubs_post2020.author_id, avg(df_pubs_post2020.citeScore) AS avg_citescore_new FROM df_authors, df_pubs_post2020 where df_authors.author_id = df_pubs_post2020.author_id GROUP BY df_authors.author_id'
prev_dict = pysqldf(query)
prev_dict['author_id'].replace(" ","")
dictionary = prev_dict.set_index('author_id').to_dict()['avg_citescore_new']
translate = {}
for k, v in dictionary.items():
    #print("This is the key: '%s' and this is the value '%s'\n" % (k, v) )
    new_key = float(k.replace(' ', ''))
    translate[k] = new_key
    

for old, new in translate.items():
    dictionary[new] = dictionary.pop(old)
df_authors['avg_citescore_new'] = df_authors['author_id'].map(dictionary)
df_authors['avg_citescore_new'] = df_authors['avg_citescore_new'].fillna(0)
df_authors['avg_citescore_new'].value_counts()

0.000000    2857
5.900000      23
0.900000      21
5.000000      18
4.200000      18
            ...
9.720000       1
7.966667       1
5.680000       1
2.566667       1
8.833333       1
Name: avg_citescore_new, Length: 539, dtype: int64

In [67]:
df_authors

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs,no_first_old,no_first_new,no_pubs_old,no_pubs_new,avg_fwci_old,avg_fwci_new,avg_fwvi_old,avg_fwvi_new,avg_citescore_old,avg_citescore_new
0,6.503894e+09,1,20.0,2017,20,0.54,4,0,2017,6.0,0.0,0.0,6.0,0.0,0.303333,0.000000,1.773333,0.00,2.100000,0.000000
1,6.503977e+09,1,0.0,2017,0,0.00,1,0,2017,1.0,0.0,0.0,1.0,0.0,0.000000,0.000000,1.460000,0.00,0.100000,0.000000
2,6.504128e+09,4,4.8,2019,19,0.35,13,0,2017,6.0,0.0,0.0,2.0,1.0,0.320000,0.230000,0.895000,0.63,2.750000,1.500000
3,6.504301e+09,1,20.0,2017,20,0.54,3,0,2017,6.0,0.0,0.0,6.0,0.0,0.303333,0.000000,1.773333,0.00,2.100000,0.000000
4,6.504401e+09,2,15.0,2018,30,1.68,3,0,2017,1.0,0.0,0.0,1.0,0.0,2.190000,0.000000,2.670000,0.00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4224,5.770648e+10,1,773.0,2017,773,37.42,1,1,2017,1.0,0.0,0.0,1.0,0.0,37.420000,0.000000,7.070000,0.00,54.900000,0.000000
4225,5.773512e+10,1,0.0,2017,0,0.00,0,0,2017,1.0,0.0,0.0,1.0,0.0,0.000000,0.000000,1.450000,0.00,0.000000,0.000000
4226,5.774357e+10,2,0.5,2018,1,0.00,1,0,2017,2.0,0.0,0.0,2.0,0.0,0.000000,0.000000,0.395000,0.00,0.150000,0.000000
4227,5.777048e+10,2,0.5,2020,1,0.34,1,0,2017,1.0,0.0,0.0,1.0,0.0,0.690000,0.000000,0.690000,0.00,0.000000,0.000000
4228,5.778728e+10,17,8.8,2022,149,0.89,5,1,2017,20.0,0.0,0.0,14.0,6.0,0.970000,0.536667,1.790714,2.20,6.228571,8.833333

In [68]:
df_authors.describe()

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs,no_first_old,no_first_new,no_pubs_old,no_pubs_new,avg_fwci_old,avg_fwci_new,avg_fwvi_old,avg_fwvi_new,avg_citescore_old,avg_citescore_new
count,4.229000e+03,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.0,4229.000000,4229.0,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000,4229.000000
mean,5.374435e+10,3.428707,14.410192,2018.624025,47.841334,1.013559,3.921731,0.382596,2017.0,3.227004,0.0,0.000473,1.901632,0.956018,0.906461,0.356264,1.339878,0.460112,4.021644,2.068651
std,1.105750e+10,5.051573,71.069002,1.919390,204.779281,3.464194,6.960170,1.295045,0.0,8.817691,0.0,0.030755,2.402846,3.516209,2.086560,1.084545,1.038171,1.035423,5.098450,4.365860
min,6.503894e+09,1.000000,0.000000,2017.000000,0.000000,0.000000,0.000000,0.000000,2017.0,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.719120e+10,1.000000,2.500000,2017.000000,4.000000,0.240000,1.000000,0.000000,2017.0,1.000000,0.0,0.000000,1.000000,0.000000,0.140000,0.000000,0.740000,0.000000,0.733333,0.000000
50%,5.719419e+10,2.000000,6.000000,2017.000000,13.000000,0.570000,2.000000,0.000000,2017.0,1.000000,0.0,0.000000,1.000000,0.000000,0.495263,0.000000,1.150000,0.000000,3.033333,0.000000
75%,5.719622e+10,4.000000,13.000000,2020.000000,34.000000,1.070000,4.000000,0.000000,2017.0,3.000000,0.0,0.000000,2.000000,1.000000,1.060000,0.240000,1.695000,0.760000,5.500000,3.100000
max,5.778728e+10,85.000000,2058.000000,2023.000000,7785.000000,97.650000,146.000000,28.000000,2017.0,228.000000,0.0,2.000000,44.000000,97.000000,72.680000,22.950000,15.170000,28.300000,54.900000,68.700000

In [69]:
df_authors['oldScore'] = np.clip(df_authors['no_pubs_old']*2,0,10) + np.clip(df_authors['no_first_old']*4,0,10) + np.clip(df_authors['avg_fwci_old']*9.64,0,10) + np.clip(df_authors['avg_fwvi_old']*5.40,0,10) + np.clip(df_authors['avg_citescore_old']*1.66,0,10)

In [70]:
df_authors['newScore'] = np.clip(df_authors['no_pubs_new']*4,0,10) + np.clip(df_authors['no_first_new']*4,0,10) + np.clip(df_authors['avg_fwci_new']*10.95,0,10) + np.clip(df_authors['avg_fwvi_new']*6.10,0,10) + np.clip(df_authors['avg_citescore_new']*1.42,0,10)

In [71]:
df_authors['oldScore']=(df_authors['oldScore']-df_authors['oldScore'].min())/(df_authors['oldScore'].max()-df_authors['oldScore'].min())
df_authors['newScore']=(df_authors['newScore']-df_authors['newScore'].min())/(df_authors['newScore'].max()-df_authors['newScore'].min())

In [72]:
df_authors

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs,...,no_pubs_old,no_pubs_new,avg_fwci_old,avg_fwci_new,avg_fwvi_old,avg_fwvi_new,avg_citescore_old,avg_citescore_new,oldScore,newScore
0,6.503894e+09,1,20.0,2017,20,0.54,4,0,2017,6.0,...,6.0,0.0,0.303333,0.000000,1.773333,0.00,2.100000,0.000000,0.649653,0.000000
1,6.503977e+09,1,0.0,2017,0,0.00,1,0,2017,1.0,...,1.0,0.0,0.000000,0.000000,1.460000,0.00,0.100000,0.000000,0.251250,0.000000
2,6.504128e+09,4,4.8,2019,19,0.35,13,0,2017,6.0,...,2.0,1.0,0.320000,0.230000,0.895000,0.63,2.750000,1.500000,0.412070,0.312287
3,6.504301e+09,1,20.0,2017,20,0.54,3,0,2017,6.0,...,6.0,0.0,0.303333,0.000000,1.773333,0.00,2.100000,0.000000,0.649653,0.000000
4,6.504401e+09,2,15.0,2018,30,1.68,3,0,2017,1.0,...,1.0,0.0,2.190000,0.000000,2.670000,0.00,0.000000,0.000000,0.550000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4224,5.770648e+10,1,773.0,2017,773,37.42,1,1,2017,1.0,...,1.0,0.0,37.420000,0.000000,7.070000,0.00,54.900000,0.000000,0.800000,0.000000
4225,5.773512e+10,1,0.0,2017,0,0.00,0,0,2017,1.0,...,1.0,0.0,0.000000,0.000000,1.450000,0.00,0.000000,0.000000,0.245750,0.000000
4226,5.774357e+10,2,0.5,2018,1,0.00,1,0,2017,2.0,...,2.0,0.0,0.000000,0.000000,0.395000,0.00,0.150000,0.000000,0.159550,0.000000
4227,5.777048e+10,2,0.5,2020,1,0.34,1,0,2017,1.0,...,1.0,0.0,0.690000,0.000000,0.690000,0.00,0.000000,0.000000,0.309440,0.000000
4228,5.778728e+10,17,8.8,2022,149,0.89,5,1,2017,20.0,...,14.0,6.0,0.970000,0.536667,1.790714,2.20,6.228571,8.833333,0.975516,0.896913

In [73]:
df_authors['scoreIncrease'] = df_authors['newScore'] - df_authors['oldScore']

In [74]:
df_authors['scoreIncrease'].describe()

count    4229.000000
mean       -0.272199
std         0.384703
min        -1.000000
25%        -0.563080
50%        -0.331840
75%        -0.050000
max         1.000000
Name: scoreIncrease, dtype: float64

In [75]:
df_authors['risingStar'] = df_authors['scoreIncrease'] > 0

In [76]:
df_authors

,author_id,scholarly_output,citations_per_pub,most_recent_pub,citations,FWCI,h_index,FW_output_in_top,oldest_pub,no_pubs,...,avg_fwci_old,avg_fwci_new,avg_fwvi_old,avg_fwvi_new,avg_citescore_old,avg_citescore_new,oldScore,newScore,scoreIncrease,risingStar
0,6.503894e+09,1,20.0,2017,20,0.54,4,0,2017,6.0,...,0.303333,0.000000,1.773333,0.00,2.100000,0.000000,0.649653,0.000000,-0.649653,False
1,6.503977e+09,1,0.0,2017,0,0.00,1,0,2017,1.0,...,0.000000,0.000000,1.460000,0.00,0.100000,0.000000,0.251250,0.000000,-0.251250,False
2,6.504128e+09,4,4.8,2019,19,0.35,13,0,2017,6.0,...,0.320000,0.230000,0.895000,0.63,2.750000,1.500000,0.412070,0.312287,-0.099782,False
3,6.504301e+09,1,20.0,2017,20,0.54,3,0,2017,6.0,...,0.303333,0.000000,1.773333,0.00,2.100000,0.000000,0.649653,0.000000,-0.649653,False
4,6.504401e+09,2,15.0,2018,30,1.68,3,0,2017,1.0,...,2.190000,0.000000,2.670000,0.00,0.000000,0.000000,0.550000,0.000000,-0.550000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4224,5.770648e+10,1,773.0,2017,773,37.42,1,1,2017,1.0,...,37.420000,0.000000,7.070000,0.00,54.900000,0.000000,0.800000,0.000000,-0.800000,False
4225,5.773512e+10,1,0.0,2017,0,0.00,0,0,2017,1.0,...,0.000000,0.000000,1.450000,0.00,0.000000,0.000000,0.245750,0.000000,-0.245750,False
4226,5.774357e+10,2,0.5,2018,1,0.00,1,0,2017,2.0,...,0.000000,0.000000,0.395000,0.00,0.150000,0.000000,0.159550,0.000000,-0.159550,False
4227,5.777048e+10,2,0.5,2020,1,0.34,1,0,2017,1.0,...,0.690000,0.000000,0.690000,0.00,0.000000,0.000000,0.309440,0.000000,-0.309440,False
4228,5.778728e+10,17,8.8,2022,149,0.89,5,1,2017,20.0,...,0.970000,0.536667,1.790714,2.20,6.228571,8.833333,0.975516,0.896913,-0.078604,False

In [77]:
df_authors['risingStar'].value_counts()

False    3296
True      933
Name: risingStar, dtype: int64

# DataSet
Resultados finales se guardaran en dos datasets
- El primero 'UncleanDataToPredict' tiene las columnas usadas para calcular el score
- El segundo 'CleanDataToPredict' tiene solo la columna a predecir 'risingStar'

In [83]:
df_authors.to_csv('UncleanDataToPredict.csv')

In [82]:
df_authors_clean = df_authors.drop(columns=['no_pubs','no_first_new','no_pubs_new','most_recent_pub','avg_fwci_new','avg_fwvi_new','avg_citescore_new','oldScore','newScore','scoreIncrease'])
df_authors_clean.to_csv('CleanDataToPredict.csv')